
.datum{
    margin: 3px;
    background-color: rgb(241, 241, 241);
    padding: 5px;
}

.datum:hover{
    background-color: rgb(255, 189, 75);
}

h1 {
    color: rgb(89, 89, 89);
    font-size: 14px;
    margin: auto;
}

h2 {
    color: rgb(207, 42, 42);
    font-size: 18px;
    font-weight: normal;
    margin: auto;
}

body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}


/*
.street-selected path {
  -webkit-animation: active 5s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes active {
    0% {opacity: 1;}
    50% {opacity: 1; stroke-width: 10;}
    100% {opacity: 1;}
}*/
